body {
font-family: Arial, sans-serif;
background-color:rgb(17, 17, 17) ;
margin: 0;
text-align: center;
}


ul {
list-style-type:armenian;
padding: 0;
}

li {
    background-color: rgba(83, 83, 83, 0.48);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}


